<section>
  <% @comments.each do |comment| %>
  <div>
    <p>
      <strong>
        <%= "User: ABC" %>
      </strong>

      <span>
        <%= time_ago_in_words(comment.created_at) %> ago | on:
        <%= someMethod(comment.submit_id) %>
      </span><br>
      <%= comment.body %>
    </p>
  </div>
  <% end %>
</section>