<h1><%= @message %></h1>  
<p>From app/views/hello/index.html.erb</p>  



<table>

  <tbody>
    <% @submits.each do |submit| %>
      <tr>
        <td><%= submit.title %>  
        
        <% if submit.source? %>
            (<%= submit.source %>)
          <% end %> <br> 
        Submited by: User | <%= time_ago_in_words(submit.created_at) %> ago | 
         <%= link_to pluralize(submit.comment_count, 'comment'), submit %> </td>
        
        <td><%= link_to 'Show', submit %></td>
        <td><%= link_to 'Edit', edit_submit_path(submit) %></td>
        <td><%= link_to 'Delete', submit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td></td>
      </tr>
    <% end %>
    
   
  </tbody>
</table>


