<%= form_for(submit) do |f| %>
  <% if submit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(submit.errors.count, "error") %> prohibited this submit from being saved:</h2>

      <ul>
      <% submit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Title %>
    <%= f.text_area :title, required: true %>
  </div>

  <div class="field">
    News source (optional) :
    <%= f.text_field :source %>
  </div>

  <div class="actions">
    <%= f.submit "Submit News" %>
  </div>
<% end %>
