<p id="notice"><%= notice %></p>

<h1>Submits</h1>

<table>

  <tbody>
    <% @submits.each do |submit| %>
      <tr>
        <td><%= submit.title %> (<%= submit.source %>)</td>

        <td><%= link_to 'Show', submit %></td>
        <td><%= link_to 'Edit', edit_submit_path(submit) %></td>
        <td><%= link_to 'Delete', submit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Submit', new_submit_path %>
