<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @submit.title %>
</p>
<% if @submit.source? %>
<p>
  <strong>Source:</strong>
  <%= @submit.source %>
</p>
<% end %>

<div>
        <%= form_for :comment, url: submit_comments_path(@submit) do |f| %>
         
            <%= f.text_area :body, class: "form-control", placeholder: "Enter your comment here", rows: 10, required: true %>
        <br><br><div>
            <%= f.button "Add Comment" %>
        </div>
        <% end %>
</div>

<div>
      <% if @comments.present? %>
        <h3>
            Comments
        </h3>
      <% end %>
      
      <% @comments.each do |comment| %>
      <p>
        <div>
              <%= time_ago_in_words(comment.created_at) %> ago |
            <%= comment.body %>
        </div>
      </p>
      <% end %>
  </div>



<%= link_to 'Edit', edit_submit_path(@submit) %> |
<%= link_to 'Back', home_path %>
