/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
nav
{
    
    
    text-align: left;
    background-color: white;
    padding: 0;
    border:none;
    
    
}

ul
{
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

li
{
    display: inline-block;
    height: 50px;
    text-align: center;
    color: white;
    background-color: white;
}
a.one:hover ,a.one:active  
    {
        background-color: lightblue;
        color: white;
    }

a.one
{
  display:inline-block;
  padding-left: 15px;
  padding-right: 15px;
  background-color: transparent;
  text-decoration: none;
  color: black;
  line-height: 50px;
  height: 50px;
}



.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   text-align: center;
}