// Place all the styles related to the submits controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
td, th {
    border: 1px  #dddddd;
    text-align: left;
    padding: 10px;
    
}

textarea {
   resize: none;
   width: 700px;
  height: 150px;
  font-size: 15px;
}

input[type="text"]
{
    width:535px
}
