<!DOCTYPE html>
<html>
  <head>
    <title>RMIT News</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <nav class="one">
     <ul>
       <%= image_tag("rmit.jpg", :alt => "RMIT icon", :size => "18x18") %> RMIT News
       <li><%= link_to "Home", home_path, :class => "one" %></li>
       <li><%= link_to "Comments", newcomments_path, :class => "one" %></li>
       <li><%= link_to "Submit", submits_path, :class => "one" %></li>
       <li><a class="one" href>Login </a></li>
     </ul>
    </nav>
  </head>

  <body>
    <%= yield %>
  </body>
  
  <div class="footer">
   <ul>
       <li><a class="one" href="https://github.com/pigfly/RMIT-CSIT-RAD/tree/master/2018_S1/assignment2">API</a></li>
       <li><a class="one" href>About</a></li>
     </ul>
</div>
</html>
